{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
<h1 style="text-align:center;font-family: 'Rubik', sans-serif;">{{ _('Welcome Back to Streamfish!') }}</h1>
<div class="row">
<div class="col-md-4 col-lg-offset-4">
    {{ wtf.quick_form(form) }}
</div>
</div>
<br>
<p style="text-align: center;font-family: 'Rubik', sans-serif;">{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Join Streamfish Now!') }}</a></p>
<p style="text-align: center;font-family: 'Rubik', sans-serif;">
    {{ _('Forgot Your Password?') }}
    <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Lets get you a new one!') }}</a>
</p>
{% endblock %}
©
