{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('स्ट्रीमफिश में आपका स्वागत है') }}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>{{ _('नए उपयोगकर्ता?') }} <a href="{{ url_for('auth.register') }}">{{ _('अब समुदाय में शामिल हों!') }}</a></p>
    <p>
        {{ _('क्या आप पासवर्ड भूल गए?') }}
        <a href="{{ url_for('auth.reset_password_request') }}">{{ _('अभी आपको एक नया अधिकार देता है') }}</a>
    </p>

{% endblock %}
