@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
body{
     background-color: rgb(32, 34, 34);
     color: white;
     font-family: 'Rubik', sans-serif;
}

.button {
     background-color: lightseagreen;
     border: none;
     color: white;
     padding: 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     border-radius: 12px;
}
