<link href="{{url_for('static', filename='main.css') }}" rel="stylesheet">
<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=LP.author.username) }}">
                <img src="{{ LP.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
            <span class="user_popup">
                <a href="{{ url_for('main.user', username=LP.author.username) }}">
                    {{ LP.author.username }}
                </a>
            </span>
            {% endset %}
            {{ _('%(username)s',
            username=user_link) }}
            {{ _('%(when)s', when=moment(LP.timestamp).fromNow()) }}
            <br>
            <span><h2>{{ LP.title }}</h2></span>
            <span id="LP{{ LP.id }}">{{ LP.body }}</span>
        </td>
    </tr>
</table>