<link href="{{url_for('static', filename='main.css') }}" rel="stylesheet">
<table class="table" style="margin-left: auto;margin-right: auto;border-radius: 15px;background: lightblue;padding: 20px;width: 600px;height: 200px;">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=lp.author.username) }}">
                <img src="{{ lp.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
            <span class="user_popup">
                <a href="{{ url_for('main.user', username=lp.author.username) }}">
                    {{ lp.author.username }}
                </a>
            </span>
        {% endset %}
            {% if lp.author.verified == True %}
            <p>   {{ _('%(username)s said %(when)s',
                        username=user_link, when=moment(lp.timestamp).fromNow()) }} <image width="20" height="20" src="{{url_for('static',filename = 'download.png')}}" ></image></p> 
            {% else %}
                {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(lp.timestamp).fromNow()) }}
            {% endif %}
            <br/>
            <span><h2>{{ lp.lptitle }}</h2></span>
            <span id="lp{{ lp.lpid }}">{{ lp.lpbody }}</span>
        </td>
    </tr>
</table>