<table class="table" style="margin-left: auto;margin-right: auto;border-radius: 15px;background: lightblue;padding: 20px;width: 370px;height: 50px;">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    </span>
                {% endset %}
                {% if post.author.verified == True %}
                <p>   {{ _('%(username)s said %(when)s',
                        username=user_link, when=moment(post.timestamp).fromNow()) }} <image width="20" height="20" src="{{url_for('static',filename = 'download.png')}}" ></image></p> 
                {% else %}
                    {{ _('%(username)s said %(when)s',
                        username=user_link, when=moment(post.timestamp).fromNow()) }}
                {% endif %}
                <span id="post{{ post.id }}" style="color: black;">{{ post.body }}</span>
            </td>
        </tr>
    </table>