{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if dm == True %}
    <link href="{{url_for('static', filename='darkmode.css') }}" rel="stylesheet">
{% else %}
    <link href="{{url_for('static', filename='main.css') }}" rel="stylesheet">
{% endif %}
    <h1 style="text-align: center;">{{ _('Change your profile') }}</h1>
    <div class="row">
        <div class="col-md-4 col-lg-offset-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% if verified == True %}
    <h1></h1>
    {% else %}
    <h2>Join the user verification program!</h2>
    <a href="https://forms.gle/nAmBEGC8T76D7HFJA">User Verification Program</a>
{% endblock %}

