{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ user.username }}</h1>
                {% if user.about_me %}<h5>{{ user.about_me }}</h5>{% endif %}
                {% if user.last_seen %}
                <h5>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</h5>
                {% endif %}
                <h5>{{ _('%(count)d followers', count=user.followers.count()) }}, {{ _('%(count)d following', count=user.followed.count()) }}</h5>
                {% if user == current_user %}
                <button type="button"><h5><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></h5></button>
                {% if not current_user.get_task_in_progress('export_posts') %}
                <h5></h5>
                {% endif %}
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Follow'), class_='btn btn-default') }}
                    </form>
                {% else %}
                <p>
                    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Unfollow'), class_='btn btn-default') }}
                    </form>
                {% endif %}
                {% if user != current_user %}
                <p><a href="{{ url_for('main.send_message', recipient=user.username) }}">{{ _('Send private message') }}</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    